* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

body::after {
    content: "";
    display: block;
    background-image: url('./images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

html {}

.box {
    border: 1px solid #666;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
}

.header {
    height: 10vh;
    border: 1px solid #666;
    box-sizing: border-box;
    position: relative;
}

.content {
    border: 1px solid #666;
    box-sizing: border-box;
    margin-top: 10px;
    flex: 1;
    overflow-y: auto;
}

.footer {
    height: 80px;
    border: 1px solid #666;
    box-sizing: border-box;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-input {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #666;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #222;
    border-radius: 4px;
}

.footer-input .input {
    width: 100%;
    height: 56px;
    border: 0;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
}

.title {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.red {
    color: #ff0000;
}

.online {
    color: #fff;
    border: 2px solid #666;
    padding: 5px 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 700;
    border-radius: 4px;
    background: transparent;
}

.send {
    color: #fff;
    border: 2px solid #666;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 4px;
    height: 60px;
    line-height: 1;
    font-size: 16px;
    width: 110px;
    text-align: center;
    white-space: nowrap;
    margin-right: 10px;
    background: transparent;
}

.item {
    padding-left: 80px;
    box-sizing: border-box;
    position: relative;
    min-height: 80px;
    display: flex;
    align-items: center;
}

.item.my {
    justify-content: flex-end;
    padding-left: 0;
}

.item-left {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 10px;
}

.item.my .item-left {
    right: 0;
    left: inherit;
    margin-right: 10px;
}

.item-right {
    color: #fff;
    border: 1px solid #eee;
    max-width: 70%;
    padding: 10px;
    border-radius: 4px;
    line-height: 1.5;
}

.item.my .item-right {
    margin-right: 80px;
}